/*------------responsivo------------*/
@media only screen and (max-width: 930px){
    .header{   
        display: flex;
        justify-content: space-between;


        margin: 10px 180px 0px 50px;
        padding-right: 150px;
        max-width: 450px;
        min-width: 450px;
    }
    h1{
        left: 18%;
    }
    .grid{
        margin: 250px 0px 0px -150px;

        width: 100%;
        max-width: 800px;
        min-width: 800px;

    }
    .subgrid{
        display: none;
    }
    .galeria{
        max-width: 500px;
        min-width: 300px;
    }
    .galeria > div.container{
        flex: 1 1;
        margin: 10px;
    }
    #carregarMais{
        top: 80px;
        left: -500px;
        position: relative;
    }
    div#contResp{
        display: none;
    }
    /*--Ordenar--*/
    .containerx{
        display: flex;
    }
    .menu-toggle {
        position: absolute;
        top: 175px;
        left: 60px;
        font-size: 30px;
        cursor: pointer;
        border: 1px solid;
        padding: 20px 65px 20px 65px;
    }
    /* fullscreen */
    .menu-section.on {
        position: absolute;
        top:0;
        left:0;
        
        width: 100vw;
        height: 100vh;

        background-color: white ;
        
        z-index: 10;
    }
    .menu-section.on nav {
        display: block; 
        position: absolute;
        top: 10px;
        left: 0px;  
        margin-left: 20px;
    }
    .menu-section.on .menu-toggle {
        margin-top: -170px;
        z-index: 10;
        margin-left: 180px;
        font-family: "Flaticon1", sans-serif;
        font-size: 30px;
        cursor: pointer;
    }
    hr{
        width: 100vw;
        margin-top: 10px;
        margin-left: -20px !important;
    }
    #txtOrdenar{
        font-size: 40px;
        color: #666666;
    }
    .menu-section.on nav ul {
        display: block;
    }
    .menu-section.on nav ul a{
        transition-duration: 0.5s;
        font-size: 26px;
        line-height: 40px;
        display: block;
        text-decoration: none;
        color: black;
        margin-bottom: 20px;
    }
    .menu-section.on nav ul a:hover{
        font-size: 28px;
        width: 200px;
    }
    /*--Filtrar--*/
    .containerx2{
        display: flex;
    }
    .menu-toggle2 {
        position: absolute;
        top: 175px;
        left: 290px;
        font-size: 30px;
        z-index: 1;
        cursor: pointer;
        border: 1px solid;
        padding: 20px 65px 20px 65px;
    }

    /* fullscreen */
    .menu-section2.on {
        position: absolute;
        top:0;
        left:0;
        
        width: 100vw;
        height: 100vh;

        background-color: white ;
        
        z-index: 10;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-section2.on nav {
        display: block; 
        position: absolute;
        top: 10px;
        left: 0px;  
        margin-left: 20px;
    }
    .menu-section2.on .menu-toggle2 {
        z-index: 2;
        margin-top: -170px;
        right: 08px;
        font-family: "Flaticon1", sans-serif;
        font-size: 30px;
        cursor: pointer;
    }
    hr{
        width: 100vw;
        margin-top: 10px;
        margin-left: -20px !important;
    }
    #txtFiltrar{
        font-size: 40px !important;
        color: #666666;
    }
    .menu-section2.on nav ul {
        display: block;
        width: 100%;
        margin: auto;
        max-width: 480px;
    }
    .menu-section2.on nav ul a{
        transition-duration: 0.5s;
        font-size: 26px;
        line-height: 40px;
        display: block;
        text-decoration: none;
        color: black;
        margin-bottom: 20px;
    }
    .menu-section2.on nav ul li{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
    }
    .menu-section2.on nav ul li label{
        width: 30px;
        height: 30px;
        margin-left: 85px;
        cursor: pointer;
    }
    .menux{
        display: block;
        position: relative;
        background-color:black;
        width:2px;
        height: 100%;
        transition: .5s ease-in-out;
        left: 15px;
        z-index: 3;
    }
    .menux::before{
        content: '';
        position: absolute;
        display: block;
        background-color: black;
        width: 30px;
        height: 2px;
        transition: .5s ease-in-out;
        top: 15px;
        left: -15px;
    }
    .subgrid{ 
        display: block; 
        position: absolute;
        top: 100px;
        left: 50px;
        z-index: 11;
    }
    .subgrid .secTamanhos, .subgrid .secprecos,.subgrid .secCores,.btnfiltro, h3,.secCores .cor ul li a{
        display: none;
    }
    #plusCor:checked ~ label .menux{
        transform: rotate(90deg);
    }
    #plusCor:checked ~ label .menux::before{
        transform: rotate(90deg);
    }
    #plusCor:checked ~ #corSpace{
        height: 200px;
    }   
    .secCores{
        margin-top: 85px;
    }
    .cor li ul{
        display: block;
        position: absolute;
        top: 179px;
        left: -10px;
    }
    .cor li:hover ul{
        top: 179px;
    }

    #plusTam:checked ~ label .menux{
        transform: rotate(90deg);
    }
    #plusTam:checked ~ label .menux::before{
        transform: rotate(90deg);
    }
    #plusTam:checked ~ label .menux{
        transform: rotate(90deg);
    }
    #plusTam:checked ~ #tamSpace{
        height: 200px;
    }
    .subgrid .secTamanhos{
        margin-top: 180px;
    }

    #plusPre:checked ~ label .menux{
        transform: rotate(90deg);
    }
    #plusPre:checked ~ label .menux::before{
        transform: rotate(90deg);
    }
    #plusPre:checked ~ #preSpace{
        height: 200px;
    }
    .secTamanhos{
        margin-top: 270px;
    }
    .menu-trigger{
        display: none;
    }
    .secprecos{
        margin-top: 270px;
    }
}